In [21]:
import pandas as pd
a=["book","bag","car","toy"]
myvar=pd.Series(a,index=["001",2,3,4])
myvar

001    book
2       bag
3       car
4       toy
dtype: object

In [7]:
calories={"Day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
myvar

Day1    420
day2    380
day3    390
dtype: int64

In [9]:
calories={"Days":[420,380,390],
          "duration":[10,2,3]}
myvar=pd.DataFrame(calories)
myvar

   Days  duration
0   420        10
1   380         2
2   390         3

In [17]:
print(myvar.iloc[0])

Days        420
duration     10
Name: 0, dtype: int64

In [23]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
arr

array([1, 2, 3, 4, 5, 6])

In [24]:
import numpy as np
arr=np.array(1)
arr

array(1)

In [32]:
import numpy as np
arr=np.array([1,11,33,44,55,66,77])
arr[0]

1

In [48]:
import numpy as np
arr=np.array([[1,11,33,44,55,66,77],[11,22,33,44,55,66,77],[11,22,33,44,55,66,77]])
p=np.append(arr[1:2],7)
p

array([11, 22, 33, 44, 55, 66, 77,  7])

In [30]:
arr[0]

array([ 1, 11, 33, 44, 55, 66, 77])

In [43]:
arr=np.array([1,11,33,44,55,66,77])
arr
arr2=np.array([1,22,88,77,66,55,33])
arr2
p=np.concatenate((arr,arr2))
p

array([ 1, 11, 33, 44, 55, 66, 77,  1, 22, 88, 77, 66, 55, 33])

In [40]:
print(arr*arr2)

[   1  242 2904 3388 3630 3630 2541]

In [39]:
print(arr[2]*arr2[3])

2541

In [38]:
a="Nikanksha "
print(a*3)

Nikanksha Nikanksha Nikanksha

In [41]:
a=10
b=11
print(a+b)

21

In [42]:
a="aaa"
b="ffff"
print(a+b)

aaaffff

In [46]:
arr=np.array([1,11,33,44,55,66,77])
p=np.append(arr,7)
p

array([ 1, 11, 33, 44, 55, 66, 77,  7])

In [50]:
x=np.array([[1,2],[4,5]])
y=np.array([[1,2],[4,5]])
print ("The element wise addition of matrix is : ")
print(np.add(x,y))

The element wise addition of matrix is :
[[ 2  4]
 [ 8 10]]

In [51]:
print(np.subtract(x,y))

[[0 0]
 [0 0]]

In [52]:
print(np.divide(x,y))

[[1. 1.]
 [1. 1.]]

In [53]:
print(np.multiply(x,y))

[[ 1  4]
 [16 25]]